.recommand-movie-grid {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr)); /* 최소 너비 200px, 나머지 공간을 균등하게 나누기 */
  justify-content: space-between;
}

.title {
  font-weight: bolder;
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .recommand-movie-grid {
    grid-template-columns: repeat(2, 1fr); /* 모바일에서 두 개의 카드가 한 줄에 배치됨 */
  }
}

@media (max-width: 1200px) {
  .recommand-movie-grid {
    grid-template-columns: repeat(3, 1fr); /* 화면 폭이 1200px 이하일 때, 세 개의 카드가 한 줄에 배치됨 */
  }
}
