.recommand-movie-grid {
  display: flex;
  gap: 16px;
  justify-content: space-between;
}

.recommand-movie-grid .movie-card {
  flex: 1;
}

@media (max-width: 767px) {
  .recommand-movie-grid {
    justify-content: space-around;
  }

  .recommand-movie-grid .movie-card {
    flex: 0 1 calc(25% - 12px); 
    max-width: calc(25% - 12px); 
  }
}

@media (max-width: 1200px) {
  .recommand-movie-grid {
    justify-content: space-around;
  }

  .recommand-movie-grid .movie-card {
    flex: 0 1 calc(33.33% - 12px); 
    max-width: calc(33.33% - 12px); 
  }
}


@media (max-width: 700px) {
  .recommand-movie-grid {
    justify-content: space-around;
  }

  .similar-movie-grid .movie-card {
    flex: 0 1 calc(50% - 12px); 
    max-width: calc(50% - 12px); 
  }
}

@media (max-width: 767px) {
  .recommand-movie-grid {
    justify-content: space-around;
  }

  .recommand-movie-grid .movie-card {
    flex: 0 1 calc(25% - 12px); 
    max-width: calc(25% - 12px); 
  }
}