.banner-container {
    width: 100%;
    height : 65vh !important;
  }
  
  .banner {
    height: 65vh !important;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 5px; 
    overflow: hidden; 

    
  }
  

  .banner:before {
    content: '';
    background: linear-gradient(to top, black, transparent);
    position: absolute;
    left: 0;
    height: 65vh !important;
    width: 100%;
    z-index: 1;
  }
  
  .banner-text-area {
    width: 36%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 1rem;
    position: relative;
    z-index: 2;
  }
  
  .banner-text-area > * {
    z-index: 2;
  }
  
  @media (max-width: 768px) {
    .banner {
      height: 40vh;
    }
  
    .banner-text-area {
      width: 80%; 
      padding: 1rem; 
    }
  }
  
  .banner-text-area h1 {
    font-size: 2rem; 
  }
  
  .banner-text-area p {
    font-size: 1rem; 
  }