.banner-container {
    width: 100%;
    height : 65vh !important;
  }
  
  .banner {
    height: 65vh !important;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 5px; 
    overflow: hidden; 

    
  }
  

  .banner:before {
    content: '';
    background: linear-gradient(to top, black, transparent);
    position: absolute;
    left: 0;
    height: 65vh !important;
    width: 100%;
    z-index: 1;
  }
  
  .banner-text-area {
    width: 36%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 1rem;
    position: relative;
    z-index: 2;
  }
  
  .banner-text-area > * {
    z-index: 2;
  }

  .banner-text-area h1 {
    font-size: 5rem; 
    color: white;
}

.banner-text-area p {
    font-size: 3rem; 
    color: white; 
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 화면 전체 높이 */
}

.spinner {
  width: 3rem; /* 스피너 너비 조정 */
  height: 3rem; /* 스피너 높이 조정 */
}
  
  @media (max-width: 768px) {
    .banner {
      height: 40vh;
      padding: 0;
    }
  
    .banner-text-area {
      width: 90%; 
      padding: 1rem; 
    }
  }
  
  .banner-text-area h1 {
    font-size: 2rem; 
  }
  
  .banner-text-area p {
    font-size: 1rem; 
  }

  