.pagination {
    display: flex;
    justify-content: center;
    margin-top: 25px; 
    margin-bottom: 25px;
  }
  
  .page-item {
    margin: 0 5px;
  }
  
  .page-link {
    color: red; 
    background-color: transparent; 
    border: 1px solid red; 
    padding: 8px 12px;
    border-radius: 4px; 
  }
  
  .page-link:hover {
    background-color: rgba(255, 0, 0, 0.1); 
  }
  
  .active .page-link {
    background-color: black; 
    color: red; 
  }

  .movie-card {
    margin: 10px 10px;
    
  }
  
  @media (max-width: 768px) {
    .page-link {
      padding: 6px 10px; 
    }
  
    .page-item {
      margin: 0 3px; 
    }
  
    .pagination {
      flex-wrap: wrap; 
      font-size: 10px;
    }
  
    .page-link {
      font-size: 14px; 
    }

    .movie-card {
      display: flex; 
      flex-direction: column; 
      justify-content: center; 
      align-items: center; 
      margin: 5px; 
      padding: 5px;
      overflow: hidden;
    }
  }

  @media (max-width: 1200px) {
    .pagination {
      font-size: 12px; 
    }
    .movie-card {
      margin: 5px; 
      padding: 5px;
    }
  }

  @media (max-width: 576px) {
    .pagination {
      font-size: 8px; 
    }

    .movie-card {
      margin: 5px; 
      padding: 5px;
    }
  }