.pagination {
    display: flex;
    justify-content: center;
    margin-top: 25px; 
    margin-bottom: 25px;
  }
  
  .page-item {
    margin: 0 5px;
  }
  
  .page-link {
    color: rgb(129, 107, 255);
    background-color: black;
    border: 1px solid rgb(129, 107, 255); 
    padding: 8px 12px;
    border-radius: 4px; 
  }
  
  .page-link:hover {
    background-color: rgb(129, 107, 255);
  }
  
  .active .page-link {
    background-color: black; 
    color: rgb(129, 107, 255); 
  }



  
  
  @media (max-width: 768px) {
    .page-link {
      padding: 6px 10px; 
    }
  
    .page-item {
      margin: 0 3px; 
    }
  
    .pagination {
      flex-wrap: wrap; 
      font-size: 10px;
    }
  
    .page-link {
      font-size: 14px; 
    }
  }


