.nav-back {
    background-color: black;
    min-height: 100vh; 
    color: white; 
}

.nav-bg {
    background-color: black; 
    color: white; 
}

.nav-bg .nav-link {
    color: white; 
}

.search-box {
    background-color: black; 
    color: whitesmoke; 
    border-color: whitesmoke; 
}

.search-box .form-control {
    background-color: white(133, 133, 133);
    color: black;
    border-color: rgb(133, 133, 133, 0.5)
}

.search-box .form-control:focus {
    background-color: rgb(180, 180, 180);
    color: black;
    border-color: rgb(100, 100, 100, 0.5);
    outline: none; 
}

.btn-dark {
    background-color: black; 
    border-color: rgb(129, 107, 255);; 
    color: rgb(129, 107, 255);;
}

.btn-dark:hover {
    background-color: rgb(129, 107, 255);
}

.search-box {
    display: flex; 
    align-items: center; 
}

.nav-link {
    margin-left: 5px; 
  }


  .navbar-toggler {
    background-color: rgb(129, 107, 255); 
    border-color: rgb(129, 107, 255); 
}

.navbar-toggler:hover {
    background-color: rgb(129, 107, 255);
}